.main {
  position: relative;
  padding: 20px;
  width: 100%;
}

.main-top {
  display: flex;
  width: 100%;
}

.main-top i {
  position: absolute;
  right: 0;
  margin: 10px 30px;
  color: rgb(144, 21, 238);
  cursor: pointer;
}

.main-skills {
  display: flex;
  margin-top: 20px;
}

.main-skills .card {
  width: 25%;
  margin: 10px;
  background-color: bisque;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 20px 35px rgb(0, 0, 0, 0.1);
}

.main-skills .icon h3 {
  margin: 10px;
  text-transform: capitalize;
}

