body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url('https://source.unsplash.com/1600x900/?abstract');
}
.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 500px;
}
h1 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
}
h2 {
  text-align: center;
}
label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}
input, select, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 48%;
}
.reset {
  background-color: red;
  color: white;
}
.submit {
  background-color: green;
  color: white;
}