* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;}

.container {
    position: relative;
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    height: 100%;
    border-radius: 8px;}

h1, h2 {
    text-align: center;
    color: #ffffff;}

label {
    font-size: 1rem;
    font-weight: bold;
    margin: 20px 0 5px;
    color: #000000;}

/* Input and Select Styles */
input[type="text"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    background-color: #f9f9f9;
}

input[type="file"] {
    padding: 20px 0;
    font-size: 14px;
    color: #333;
}

textarea {
    resize: vertical;
    height: 200px;}

/* Button Container */
.btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;}

/* Button Styles */
button[type="reset"],
button[type="submit"] {
    padding:20px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="reset"] {background-color: blueviolet;
    color: white;
    width: 50%;
}

button[type="submit"] {background-color: blueviolet;
    color: white;
    width: 50%;}
.btn-container{gap: 10px;}



