*{
    padding: 20px;
    margin: auto;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: f9f9f9 ;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0);
    text-align: center;}
.slogan h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.slogan p {
  color: #666;
  font-size: 14px;
}
    body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(246, 244, 248);}
    
    h1{margin-bottom:20px;
        font-size: 2rem;
        color: blueviolet;
        font-weight: bold;
        text-align: center;}
        
    .container{
        position: relative;
        max-width: 500px;
        width: 100%;
        background: #fff;
        box-shadow:0 5px 15px rgba(0,0,0,0.1);
        border-radius: 8px;}
    
    .form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}
        
     .space{
         text-align: left
     }
.space label {
  font-weight: bold;
  color: #555;
  display: block;
  margin-bottom: 5px;
}
.input-box, .dropdown {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

    .group{
        display: flex;
        justify-content: space-between;
        margin-top:10px;
    }
    
    .submit{
    padding:  10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;   }

    .submit:first-child {
  background-color: #f44336;
  color: white;
}
     .submit:last-child {
  background-color: #4caf50;
  color: white;
}

.submit:hover {
  opacity: 0.8;
}

    .account{
    color: 007bff;
    font-weight: bold;
    text-decoration: none;
    
    
    }
    .account:hover {
  text-decoration: underline;
}

    .forgot{color: blueviolet;}
     
    .dropdown {
        curser: pointer;
    }

   
