
body{background-color: #f4f4f4;
   max-height: 100vh;
    font-family: Arial, sans-serif;}

.profile-container h2 {color: blueviolet;
text-align: center;
margin-top: 20px;
font-weight: bold;
font-size: 1.5rem;}

.profile-container p{font-size: 16px;
padding: 12px;
margin-left: 40px;}

table {width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);}
    
th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;}

th {background-color: blueviolet;
    color: white;}

tr:nth-child(even) {background: #f9f9f9;}

